/*font-family: 'VT323', monospace;
font-family: 'Oswald', sans-serif;*/
@media only screen and (min-width: 1080px){
	body {
		background-image: url("images/Grand_Central.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-width: screen;
	}
}

@media only screen and (max-width: 1080px) {
    body {
        background-image: url("images/Grand_Central.jpg");
        background-size: ;
    }

}

.col-centered{
    float: none;
    margin: 20 auto;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;

}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.col-sm-4 {
	width: 300px;
}

.panel-body {
	background-color: black;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	border: none;
    box-shadow: none;
    border-radius: 0;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	padding-bottom: 0px;
	
	color: white;
}

h2 {
	font-family: Times, serif;
	font-size:35px;
	color: white;
	padding-bottom: 15px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 28px;
	padding-bottom: 0px;
	color: white;
}

th {
	font-family: Times, serif;
	font-size:18px;
	color: white;
	font-weight: normal;
}

td {
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}

a {
	font-style: italic;
	color: white;
	font-family: Times, serif;
}

a:hover {
	color: #1d5f3a;
}

.table {
	/*margin-top: 50px*/
	background-color: black;
	padding-right:40px;
}

.table-responsive{
	margin-left: 20px;
	margin-right: 20px;
	width: 95%;
	align-content: center;
}
